.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  z-index: 1000;
}

.modal__container {
  background-color: #ffffff9f;
  border: 1px solid #0000004d;
  border-radius: 20px;
  position: relative;
  padding: 28px 28px 36px;
  width: 100%;
  max-width: 496px;
}

.modal__footer {
  padding: 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__footer_container {
  display: flex;
}

.modal__title {
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  padding-bottom: 24px;
  text-shadow: -1px -1px 0 #df1f2d, 1px -1px 0 #df1f2d, -1px 1px 0 #df1f2d, 1px 1px 0 #df1f2d;
}

.modal__close {
  background-image: url('./src/images/close.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 16px;
  width: 16px;
  border: none;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 30px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__label {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.modal__input_type_description {
  height: 300px;
  resize: vertical;
}
.modal__submit {
  background-color: #2b3784;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  width: 124px; /* Adjust as needed */
  box-sizing: border-box; /* Ensures padding is included in total width */
  text-align: center; /* Centers the text */
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.modal__submit_disabled {
  background-color: #0000004D;
  color: #FFF;
}

.modal__submit:hover {
  cursor: pointer;
  background-color: #447bbe;
  color: #000;
  opacity: 1;
}