.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header__logo {
    padding: 0;
    width: 130px;
    height: 130px;;
}

.header__recipe-btn {
    background-color: #13B113;
}