@import '../../vendor/fonts.css';

.page {
    background-color: #f2f2f2;
    font-family: "Splatwoon", Arial, Helvetica, sans-serif;
}

.page__content {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0;
}