.searchbar {
    display: flex;
    justify-content: end;
    position: relative;

}

.searchbar__input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    position: relative;
    top: -30px;
    border-radius: 14px;
}

.searchbar__button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    top: -30px;
    margin-left: 5px;
    position: relative;
    top: -30px;
    border-radius: 14px;
}



.searchbar__dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  list-style: none;
  width: 200px;

}

.searchbar__dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.searchbar__dropdown-item:hover {
  background: #eee;
}

@media screen and (max-width: 600px) {
    .searchbar {
        justify-content: end;
        margin-top: 10px;
    }

    .searchbar__input {
        top: 0;
    }

    .searchbar__button {
        top: 0;
    }
}