.header {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    padding: 10px 20px;
}

.header__logo {
    padding: 0;
    width: 130px;
    height: 130px;;
}

.header__title {
    font-size: 2rem;
    color: #333;
    padding-left: 50px;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        align-items: start;
    }

    .header__logo {
        width: 100px;
        height: 100px;
    }

    .header__title {
        font-size: 1.5rem;
        padding-left: 0;
        margin-top: 10px;
    }
    
}