.navbar {
    background-color: #b11313;
    height: 55px;
    max-width: 1360px;
}
.navbar__links{
    margin: 0;
    padding:0;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: end;
}   

.navbar__item {
    padding: 10px;
    list-style-type: none;
}

.navbar__link {
  text-decoration: none;  
  color: #000;            
  font: inherit;           
  line-height: 1;          
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px;
}

.navbar__item:hover {
    color: #fff;
    cursor: pointer;
}       

.navbar__item:active {
    background-color: #2b3784;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: auto;
        padding: 10px 0;
    }
    .navbar__links {
        align-items: start;
        font-size: 1rem;
        padding: 0;
    }
    .navbar__item {
        padding: 0 5px 0;
    }
    
}