.navbar {
    background-color: #b11313;
    height: 55px;
    max-width: 1360px;
}
.navbar__links{
    margin: 0;
    padding:0;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: end;
}
.navbar__item {
    padding: 10px;
    list-style-type: none;
}

.navbar__link {
  text-decoration: none;  
  color: #000;            
  font: inherit;           
  line-height: 1;          
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item:hover {
    color: #fff;
    cursor: pointer;
}       

.navbar__item:active {
    background-color: #2b3784;
    color: #fff;
}

.dropdown{
    position: relative;
}

.dropdown:hover .dropdown__menu {
    display: flex;
}

.dropdown__menu {
    position: absolute;
    top: 90%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: #b11313;
    min-width: 180px;
    z-index: 9999;
    gap: 13px;
    border: 2px solid #000;
    border-radius: 11px;
    list-style: none;
    padding: 0 10px 0;
}

.dropdown__item {
    padding: 0;
    background-color: transparent;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    background: border-box;
    border-style: none;
}

.dropdown__item:hover {
    color: #b2b9e6;
      text-shadow: 
    -1px -1px 0 #000, 
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

@media screen and (max-width: 600px) {
    .navbar {
        height: auto;
        padding: 10px 0;
    }
    .navbar__links {
        align-items: start;
        font-size: 1rem;
        padding: 0;
    }
    .navbar__item {
        padding: 0 5px 0;
    }
    
}