.footer {
  font-weight: 500;
  display: flex;
  font-family: "Splatoon", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.footer__year {
  margin-left: auto;
}